<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>

      <h1>Topics</h1>

      <ul class="list-group">
<!-- #1 -->
        <% topics.forEach((topic) => { %>
<!-- #2 -->
          <li class="list-group-item">
            <a href="/topics/<%= topic.id %>"> <%= topic.title %> </a>
            <% topic.flairs.forEach((flair) => { %>
              <a href="/topics/<%= topic.id %>/flairs/<%= flair.id %>/edit/">
                <small style="background:<%= flair.color %>; padding:0 25px; margin: 0 5px"> <%= flair.name %> </small>
              </a>
            <% }) %>
          </li>
        <% }) %>
      </ul>

    </main>
  </body>
</html>